{% extends "base.html" %}

{% block title %}Pacientes{% endblock %}

{% block content %}
<div class="container">
    <div class="mb-6">
        <h1 class="title is-2">
            Pacientes
        </h1>
        <p>
            Formularios, notas, información personal y más para pacientes  
        </p>
    </div>
    <div class="columns is-multiline">
        <!-- Pago de terapias -->
        <div class="column is-6-tablet is-4-desktop">
            <div class="card">
                <div class="card-content">
                    <p class="title is-4">
                        📒 Consultar notas
                    </p>
                    <p class="content">
                        Consultas las notas realizadas en las consultas.
                    </p>
                </div>

                <footer class="card-footer">
                    <a href="#"
                        class="card-footer-item has-text-weight-semibold">
                        Ir al módulo
                    </a>
                </footer>
            </div>
        </div>

        <!-- Gastos -->
        <div class="column is-6-tablet is-4-desktop">
            <div class="card">
                <div class="card-content">
                    <p class="title is-4">
                        📋 Expediente
                    </p>
                    <p class="content">
                        Notas de las citas, citas previas, información general, pagos del paciente
                    </p>
                </div>

                <footer class="card-footer">
                    <a href="{% url "pacientes:expediente" %}"
                        class="card-footer-item has-text-weight-semibold">
                        Ir al módulo
                    </a>
                </footer>

            </div>

        </div>

        <!-- Asignación -->
        <div class="column is-6-tablet is-4-desktop">

            <div class="card">
                <div class="card-content">

                    <p class="title is-4">
                        🖥️ Formulario de registro
                    </p>

                    <p class="content">
                        Genera el formulario para que los nuevos pacientes puedan registrarse.
                    </p>

                </div>

                <footer class="card-footer">
                    <a href="#"
                        class="card-footer-item has-text-weight-semibold">
                        Ir al módulo
                    </a>
                </footer>

            </div>

        </div>
    </div>

</div>


{% endblock %}