{% extends "base.html" %}

{% block title %}Pacientes{% endblock %}

{% block content %}
<div class="container is-fluid">

    <div class="mb-6">
        <h1 class="title is-2">
            Pacientes
        </h1>
        <p class="subtitle is-6">
            Formularios, notas, información personal y más para pacientes.
        </p>
    </div>

    <div class="columns is-multiline">

        <!-- Expediente -->
        <div class="column is-6-tablet is-4-desktop">
            <div class="box">
                <h2 class="title is-4">
                    📋 Expediente
                </h2>

                <p class="mb-5">
                    Revisa información general, historial clínico, citas, notas y pagos del paciente.
                </p>

                <a href="{% url 'pacientes:expediente' %}"
                   class="button is-dark is-light is-fullwidth">
                    Ir al módulo
                </a>
            </div>
        </div>

        <!-- Formulario -->
        <div class="column is-6-tablet is-4-desktop">
            <div class="box">
                <h2 class="title is-4">
                    🖥️ Formulario de registro
                </h2>

                <p class="mb-5">
                    Genera el formulario para registrar nuevos pacientes de manera sencilla.
                </p>

                <a href="#"
                   class="button is-dark is-light is-fullwidth">
                    Ir al módulo
                </a>
            </div>
        </div>

    </div>

</div>

{% endblock %}