{% extends "base.html" %}

{% block title %}Pacientes{% endblock %}

{% block content %}

<p class="title is-2 is-spaced">
    Administración
</p>

<p class="subtitle is-4">
    Gestiona los pagos, gastos y procesos administrativos del centro de terapias.
</p>

<div class="columns is-multiline">

    <!-- Expediente -->
    <div class="column is-12-mobile is-6-tablet is-3-desktop">

        <a href={% url 'pacientes:expediente' %}>

            <div class="box has-text-centered">

                <span class="icon is-large mb-4">
                    <i class="fa-solid fa-book-medical fa-2x"></i>
                </span>

                <h2 class="title is-5">
                    Expediente
                </h2>

                <p class="has-text-grey">
                    Revisa la información del paciente.
                </p>

            </div>

        </a>

    </div>


    <!-- Registrar nuevo paciente -->
    <div class="column is-12-mobile is-6-tablet is-3-desktop">

        <a href="#">

            <div class="box has-text-centered dashboard-card">

                <span class="icon is-large mb-4">
                    <i class="fa-solid fa-user-plus fa-2x"></i>

                </span>

                <h2 class="title is-5">
                    Registrar nuevo paciente
                </h2>

                <p class="has-text-grey">
                    Formulario de registro para nuevos pacientes
                </p>

            </div>

        </a>

    </div>

</div>

{% endblock %}