<nav class="navbar is-dark">

    <a role="button"
       class="navbar-burger"
       aria-label="menu"
       aria-expanded="false"
       data-target="navbar-hikari">

        <span></span>
        <span></span>
        <span></span>
        <span></span>

    </a>

    <div id="navbar-hikari" class="navbar-menu">

        <div class="navbar-start">

            <a class="navbar-item" href="{% url 'inicio' %}">
                Inicio
            </a>

            <a class="navbar-item" href={% url "citas:citas" %}>
                Agenda
            </a>

            <a class="navbar-item" href={% url "pacientes:pacientes" %}>
                Pacientes
            </a>

            <a class="navbar-item" href={% url "administracion:administracion" %}>
                Administración
            </a>

            {% if  request.user.is_superuser == True %}
            <a class="navbar-item" href={% url "dashboard:dashboard" %}>
                Dashboard
            </a>
            {% endif %}

        </div>

        <div class="navbar-end">

            <div class="navbar-item">
                {{ request.user.nombre }}
            </div>

            <div class="navbar-item">
                <form method="post" action="{% url 'accounts:logout' %}">
                    {% csrf_token %}
                    <button type="submit" class="button bulma-primary-light">
                        Cerrar sesión
                    </button>
                </form>
            </div>

        </div>

    </div>

</nav>