{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/calendario.css' %}">
{% endblock extra_css %}




{% block content %}
<div id="calendar">

</div>
{% endblock content%}




{% block extra_scripts %}

<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js"></script>

<script>
document.addEventListener("DOMContentLoaded", function () {

    const esMovil = window.matchMedia("(max-width: 768px)").matches;

    const calendar = new FullCalendar.Calendar(
        document.getElementById("calendar"),
        {
            initialView: "listWeek",
            locale: "es",
            height: "auto",
            expandRows: true,
            stickyHeaderDates: true,

            customButtons: {
                nuevaCita: {
                    text: esMovil ? "+" : "Agendar",
                    click: function () {
                        window.location.href = "{% url 'citas:agendar' %}";
                    }
                }
            },

            headerToolbar: esMovil
                ? {
                    left: "prev,next",
                    center: "title",
                    right: "nuevaCita"
                }
                : {
                    left: "prev,next today nuevaCita",
                    center: "title",
                    right: "dayGridWeek listWeek"
                },

            buttonText: {
                today: "Actual",
                dayGridWeek: "Vertical",
                listWeek: "Horizontal"
            },

            events: {
                url: "{% url 'citas:citas_json' %}",
                method: "GET"
            }
        }
    );

    calendar.render();

});
</script>
{% endblock extra_scripts %}