<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
    <title>Hikari</title>
</head>

<body class="has-background-light">
<section class="hero is-fullheight">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-4-desktop is-6-tablet">
                    <div class="box">
                        <h1 class="title has-text-centered">
                            Hikari
                        </h1>
                        <p class="subtitle has-text-centered">
                            Iniciar sesión
                        </p>
                        {% if messages %}
                            {% for message in messages %}
                                <div class="notification is-danger is-light">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}
                        <form method="POST">
                            {% csrf_token %}
                            <div class="field">
                                <label class="label">
                                    {{ form.email.label }}
                                </label>
                                <div class="control">
                                    {{ form.email }}
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">
                                    {{ form.password.label }}
                                </label>
                                <div class="control">
                                    {{ form.password }}
                                </div>
                            </div>
                            <div class="field mt-5">
                                <button
                                    class="button is-primary is-fullwidth">
                                    Iniciar sesión
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>