{% extends "base.html" %}
{% block content %}

<h2 class="title is-title-2 has-text-centered">
    <i class="bi bi-bar-chart-line-fill me-2"></i>
    Reporte | Semana {{week}}
</h2>
<div class="columns">

    <!-- Ingresos -->
    <div class="column">
        <div class="box">
            <h2 class="title is-4 has-text-success">
                <i class="bi bi-cash-stack"></i>
                Ingresos
            </h2>

            <p class="heading mb-1">
                Total
            </p>

            <p class="title is-3 has-text-success mb-5">
                ${{ ingreso.total|floatformat:2 }}
            </p>

            <nav class="level is-mobile">

                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading">
                            Efectivo
                        </p>

                        <p class="title is-5">
                            ${{ ingreso.efectivo|floatformat:2 }}
                        </p>
                    </div>
                </div>

                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading">
                            Transferencia
                        </p>

                        <p class="title is-5">
                            ${{ ingreso.transferencia|floatformat:2 }}
                        </p>
                    </div>
                </div>

            </nav>

        </div>
    </div>

    <!-- Gastos -->
    <div class="column">
        <div class="box">

            <h2 class="title is-4 has-text-danger">
                <i class="bi bi-wallet2"></i>
                Gastos
            </h2>

            <p class="heading mb-1">
                Total
            </p>

            <p class="title is-3 has-text-danger mb-5">
                ${{ gasto.total|floatformat:2 }}
            </p>

            <nav class="level is-mobile">

                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading">
                            Efectivo
                        </p>

                        <p class="title is-5">
                            ${{ gasto.efectivo|floatformat:2 }}
                        </p>
                    </div>
                </div>

                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading">
                            Transferencia
                        </p>

                        <p class="title is-5">
                            ${{ gasto.transferencia|floatformat:2 }}
                        </p>
                    </div>
                </div>

            </nav>

        </div>
    </div>

</div>


<!-- ===================== -->
<!-- Gráfico -->
<!-- ===================== -->
<div class="box">

    <div class="level">
        <div class="level-left">
            <!-- Flujo de efectivo -->
            <h2 class="title is-4">
                <i class="bi bi-graph-up-arrow me-2"></i>
                Flujo de efectivo
            </h2>
        </div>
    </div>

    {{ grafico_contabilidad|safe }}

</div>

<!-- ===================== -->
<!-- Tablas anexo -->
<!-- ===================== -->
<h2 class="title">
    Tablas Anexas
</h2>
<div class="box">
    <h4 class="subtitle is-4">
        Ingresos
    </h4>
    <div class="table-container">
        <table class="table is-fullwidth">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Paciente</th>
                    <th>Paquete</th>
                    <th>Monto</th>
                </tr>
            </thead>
            <tbody>
                {% for ingreso in ingresos_qs %}
                <tr>
                    <td>{{ ingreso.fecha | date:"d F Y"}}</td>
                    <td>{{ ingreso.paciente.nombre }}</td>
                    <td>{{ ingreso.paquete }}</td>
                    <td>${{ ingreso.monto }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="4" class="has-text-centered">
                        No hay ingresos registrados.
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


<div class="box">
    <h4 class="subtitle is-4">
        Gastos
    </h4>
    <div class="table-container">
        <table class="table is-fullwidth">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Categoria</th>
                    <th>Descripción</th>
                    <th>Método de pago</th>
                    <th>Monto</th>
                </tr>
            </thead>
            <tbody>
                {% for gastos in gastos_qs %}
                <tr>
                    <td>{{ gastos.fecha | date:"d F Y"}}</td>
                    <td>{{ gastos.categoria }}</td>
                    <td>{{ gastos.descripcion }}</td>
                    <td>{{ gastos.metodo_pago }}</td>
                    <td>${{ gastos.monto }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="4" class="has-text-centered">
                        No hay gastos registrados.
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock content %}

{% block extra_scripts %}
<script src="https://cdn.plot.ly/plotly-3.1.0.min.js"></script>
{% endblock extra_scripts %}