{% extends "base.html" %}
{% block content %}

<div class="column is-4">
    <div class="box">
        <h2 class="title is-5">Contabilidad</h2>
        <p class="mb-4">
            Resumen semanal de ingresos y consultas.
        </p>

        <a
            class="button is-primary is-fullwidth"
            href="{% url 'dashboard:contable' %}">
            Abrir tablero
        </a>
    </div>
</div>

<div class="column is-4">
    <div class="box">
        <h2 class="title is-5">Semanal</h2>
        <p class="mb-4">
            Consulta las sesiones pendientes por liquidar para cada terapeuta.
        </p>

        <a
            class="button is-primary is-fullwidth"
            href="{% url 'dashboard:semanal' %}">
            Abrir tablero
        </a>
    </div>
</div>

{% endblock content %}
