{% extends "base.html" %}
{% block content %}

<div class="tabs is-toggle is-fullwidth is-toggle-rounded">
    <ul>
      <li>
        <a
        hx-get="{% url 'dashboard:contable' %}"
              hx-target="#contenido">
              Contable
          </a>
      </li>

      <li>
          <a
              hx-get="{% url 'dashboard:semanal' %}"
              hx-target="#contenido">
              Semanal
          </a>
      </li>
    </ul>
</div>

<div id="contenido">

</div>

{% endblock content %}

{% block extra_scripts %}
<script src="https://cdn.plot.ly/plotly-3.1.0.min.js"></script>
{% endblock extra_scripts %}